
- debug: 
    var: "{{ec2_lb_filters }}"

- name: Gather facts for instances with Name {{ ec2_scope }}
  ec2_instance_facts:
    region: "{{ ec2_region }}"
    filters:  "{{ ec2_lb_filters }}"
  register: ec2

- name: Build a list of ips and hostnames
  set_fact:
    ips_to_add: "{{ ec2.instances | map(attribute='private_ip_address') | list }}"

- name: Create list of tags
  set_fact:
    tags: []

- name: Build list of groups based on tags
  set_fact:
    tags: "{{ tags }} + [ 'tag_{{item.key}}_{{item.value}}' ]"
  loop: "{{ ec2_instance_tags |dict2items  }}"

- name: Display tags
  debug:
    var: tags
    verbosity: 2

- name: Add hosts to in-memory inventory
  add_host:
    name: "{{ item }}"
    groups: "{{ tags }}"
  with_items: "{{ ips_to_add }}"

- name: Wait for SSH to come up
  wait_for_connection:
    timeout: 600
    sleep: 15
  delegate_to: "{{ item }}"
  with_items: "{{ ips_to_add }}"